.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section{
  display: flex;
  justify-content: center;
}
.menu-list{
  display: flex;
  margin: 20px;
  list-style: none;
}
.menu-list > li{
  padding: 10px;
}
.menu-area{
  display: flex;
  justify-content: center;
}

.search-bar{
  margin-top:25px;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}

.search-bar input{
  border: 0px;
}

.product-img{
  display: flex;
  justify-content: flex-end;
}

.product-content > :nth-child(1){
  font-weight: bold;
  font-size: 20px;
}

.product-content > :nth-child(2){
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}